{% extends "base_generic.html" %}

{% block content %}
    <!-- main heading of the "About Us" page -->
    <h1><b>About Us</b></h1>

    <!-- introduction section -->
    <p>
        <h5><b>Introduction:</b></h5>
        Welcome to LearnToChat! This application is designed to give experience to the user on what are the possible contents and 
        how a chatting works. 
        Whether you're sending a quick message or managing drafts, the application's goal is to provide you with an intuitive and 
        user-friendly experience.
    </p>

    <!-- mission statement section -->
    <p>
        <h5><b>Mission:</b></h5>
        This application was created to help users experience the basic use of a messenger app or similar platforms.
    </p>
    
    <br><br><br>

    <!-- closing statement -->
    <p>
        Thank you for using Messenger. Stay tuned for possible future updates.
    </p>
{% endblock %}
